.user-list{
  display: flex;
  justify-content: space-around;
  list-style: none;
  border: 1px solid #123865;
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.user-list-header{
  font-weight: bold;
  font-size: 30px;
}